.upper, .lower {
  position: absolute;
  align-items:center;
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  padding-bottom:8px;
  padding-left:16px;
  padding-right:16px;
  padding-top:8px;
  text-align:left;
  text-size-adjust:100%;
  width: 100%; 
  max-width:inherit;
}

.upper {
  height: 60%;
  display: block;
  background-color: pink;  
  overflow: scroll;
  width: 100vw!important;
  margin: 0;
  text-align: center;
}

.row {
  width: 100vw!important;
  margin: 0;
}

.upperVertical {
  overflow: auto;
  height: 100vh;
  text-align: center;
}

.dock {
  height: 100vh;
}

.lower {
  bottom: 0;
  height: 40%;
  background-color: blue;    
  width: 100%;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.navbar{
   width: 100vw!important;
}
